.lang {
  border-radius: 5px !important;
  background: none !important;
}

.lang:hover {
  background: #396858 !important;
}

.lang__flag {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lang__drop > div:hover {
  background-color: #f8f9fa;
}

.lang__drop > div > a {
  color: #261010;
  text-decoration: none;
}

.no_mark {
  list-style-type: none;
}

.no_mark:last-child {
  margin-left: 5px;
}

.marker {
  cursor: pointer;
}

.menu_user:hover {
  background: #ae3232;
  border-radius: 4px;
  color: white;
}

.fix_nav {
  position: fixed !important;
  z-index: 999;
  width: 100%;
  opacity: 0.98;
}

.fix_main {
  position: relative;
  top: 50px;
}

/*PAGE AVATAR*/

.page_avatar {
  vertical-align: top;
  border-radius: 2px;
  max-width: 200px;
  width: 200px;
}

.page_avatar_edit {
  vertical-align: top;
  border-radius: 2px;
  max-width: 200px;
  width: 200px;
  border: 1px dashed;
}

.page_avatar_edit:hover {
  border: 2px dashed;
  cursor: pointer;
}

/* END PAGE AVATAR*/

.mini_avatar,
.chatLs .chatLs__photo,
.chatMenuLeft .chatLs__photo,
.mainData .mainData__photo,
.Chat-search .Chat-search__photo {
  border-radius: 50%;
}

.profile_info {
  color: #828282;
  font-family: sans-serif;
  font-style: italic;
}

.search-by__selected {
  cursor: pointer;
  font-style: italic;
  color: rebeccapurple !important;
  font-size: 15px;
  font-weight: 600;
}

.search-by div a:hover {
  cursor: pointer;
  font-weight: italic !important;
}

.search-body {
  border-radius: 20px;
  background: #6f6cab;
  background: linear-gradient(90deg, rgba(111, 108, 171, 0) 0%, rgba(124, 124, 158, 0.5298319157) 50%, rgba(53, 111, 138, 0) 100%);
}

.a_search {
  font-size: 18px;
  color: black;
  font-weight: 400;
}

.a_search:hover {
  text-decoration: none;
  color: #710000;
}

.add_notation_who {
  font-style: italic;
  font-size: 13px;
}

.notation_tema {
  font-size: larger;
  margin-left: 5px;
}

.notation_carousel,
.notation_carousel_next,
.notation_carousel_prev {
  background: #000 !important;
  width: 10px !important;
}

.notation_carousel_prev {
  border-radius: 25px 0px 0px 25px;
}

.notation_carousel_next {
  border-radius: 0px 25px 25px 0px;
}

.notation_carousel_photo {
  border-radius: 15px;
}

.carousel-item img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*.del_photo_notation
{
    position:absolute;
    right:20px;
    cursor:pointer;
    color:red;
    top:-5px;
    font-weight: bold;
    font-size: 15px;
}*/

.notation_photo {
  max-width: 50%;
  max-height: 150px;
  display: inline-block;
  overflow-x: hidden;
}

.close {
  position: absolute;
  opacity: 0;
  right: 0px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #efefef;
  z-index: 5;
  -webkit-transition: opacity 150ms;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat;
  text-align: right;
  border: 0;
  cursor: pointer;
}

.close:hover,
.close:focus {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
}

.content {
  position: relative;
  border: 1px solid #ccc;
  margin: 5px;
  float: left;
}

.content:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.content:hover:after {
  opacity: 1;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 999;
  max-height: 94%;
  max-width: 94%;
  margin: 5% 0 0 0;
}

.nav_notation {
  clear: both;
  color: #280000;
  border: 2px solid;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 14px;
  width: 13em;
  padding: 5px 10px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

.nav_notation:hover {
  opacity: 1;
}

.notationCommentAdd {
  margin-left: 90px !important;
  margin-top: 10px !important;
}

.notationCommentAdd__send {
  height: 7%;
  border: 3px solid;
  margin-left: 5px;
  border-radius: 50%;
  vertical-align: middle;
  opacity: 0.7;
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: 20px;
}

.notationCommentAdd__send:hover {
  background: #d5d5d5;
  opacity: 1;
}

.notationCommentAdd_text {
  resize: none !important;
}

.commentProfilePhoto {
  border-radius: 50%;
  width: 30px;
  margin-top: 10px;
}

.countComments {
  text-align: right;
}

.profileLink {
  border: 1px solid #eaeac0;
  border-radius: 4px;
  padding: 3px;
  text-decoration: none !important;
  color: #e03232;
  opacity: 0.8;
}

.profileLink:hover {
  opacity: 1;
  color: #e03232;
}

.commentText {
  text-indent: 50px;
  text-align: justify;
}

.isRead {
  background: #fbe4b8;
  border: 1px solid black;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  float: right;
}

.Chat-search {
  display: none;
}

.Chat-search .Chat-search__photo {
  width: 50px;
}

.Chat-search .Chat-search__photo:hover {
  transform: scale(1.03);
}

.Chat-search .Chat-search__name .Chat-search__link {
  color: #603737;
  font-weight: bold;
  padding-left: 3%;
}

.Chat-search .Chat-search_body {
  color: black;
  background: aliceblue;
  border-radius: 20px;
  text-indent: 15px;
}

.Chat-search .Chat-search_body:hover {
  opacity: 0.9;
}

.Chat-search .Chat-search__item {
  padding-top: 5px;
}

.mainData-hr {
  margin: -20px auto 10px;
  padding: 0;
  height: 40px;
  border: none;
  box-shadow: 0 2px 2px -2px #333;
  width: 100%;
}

.mainData .mainData__chat:hover {
  opacity: 0.9;
}

.mainData .mainData__text {
  color: black;
  background: aliceblue;
  border-radius: 20px;
}

.mainData .mainData__text:hover {
  opacity: 0.9;
}

.mainData .mainData__photo {
  width: 50px;
}

.mainData .mainData__photo:hover {
  transform: scale(1.03);
}

.mainData .mainData__name {
  color: #603737;
  font-weight: bold;
  padding-left: 3%;
}

.mainData .mainData__date {
  padding-top: 3px;
  text-align: right;
  color: #788888;
}

.chatLs,
.chatMenuLeft {
  height: 400px;
  overflow-y: auto;
}

.chatLs .chatLs__chat,
.chatMenuLeft .chatLs__chat {
  padding-top: 5px;
}

.chatLs .chatLs__chat:hover,
.chatMenuLeft .chatLs__chat:hover {
  opacity: 0.9;
}

.chatLs .chatLs__text,
.chatMenuLeft .chatLs__text {
  color: black;
  background: aliceblue;
  border-radius: 20px;
}

.chatLs .chatLs__text:hover,
.chatMenuLeft .chatLs__text:hover {
  opacity: 0.9;
}

.chatLs .chatLs__photo,
.chatMenuLeft .chatLs__photo {
  width: 50px;
}

.chatLs .chatLs__photo:hover,
.chatMenuLeft .chatLs__photo:hover {
  transform: scale(1.03);
}

.chatLs .chatLs__name,
.chatMenuLeft .chatLs__name {
  color: #603737;
  font-weight: bold;
  padding-left: 3%;
  cursor: context-menu;
}

.chatLs .chatLs__date,
.chatMenuLeft .chatLs__date {
  padding-top: 3px;
  text-align: right;
  color: #788888;
  cursor: context-menu;
}

.chatLs .chatLs__move-edit,
.chatMenuLeft .chatLs__move-edit,
.chatLs .chatLs__move-delete,
.chatMenuLeft .chatLs__move-delete {
  display: none;
}

.chatLs .chatLs__move-delete,
.chatMenuLeft .chatLs__move-delete {
  margin-left: 3px;
}

.currentChatSelectionInMenu {
  background: #f0dfbf;
  opacity: 100% !important;
  border: 1px dotted black;
}

.chatMenuLeft {
  background-image: linear-gradient(to bottom, #f6ebeb 0%, #f4f4f4 100%);
  border: 1px dotted;
  border-radius: 10px;
  padding: 20px;
  height: 20%;
}

.chatMenuLeft .row {
  opacity: 70%;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.chatMenuLeft .row:hover {
  opacity: 70%;
  background: #fbe4b8;
}

.chatMenuLeft .row * {
  cursor: pointer !important;
}

.chatMenuLeft .chatLs__photo {
  width: 30px;
  text-align: center;
}

.MessageBlock {
  margin-top: 3px;
}

.MessageBlock .MessageBlock__back {
  opacity: 0.7;
}

.MessageBlock .MessageBlock__back:hover {
  opacity: 1;
}

.dialogClip {
  margin-top: 5px;
  opacity: 0.7;
}

.dialogClip .dialogClip__menu {
  background: #eedec4 none repeat scroll 0% 0%;
}

.dialogClip:hover {
  opacity: 1;
  cursor: pointer;
}

.dialog__send {
  width: 40px;
  border: 3px solid;
  margin-left: 5px;
  border-radius: 50%;
  vertical-align: middle;
  opacity: 0.7;
}

.dialog__send:hover {
  background: #d5d5d5;
  opacity: 1;
}

.bold {
  font-weight: bold;
}

.c {
  text-align: center;
}

.i,
.Chat-search .Chat-search_body {
  font-style: italic;
}

.t_a {
  text-align: center;
}

.c_p,
.notationCommentAdd__send,
.Chat-search .Chat-search__name,
.chatLs .chatLs__move-edit,
.chatLs .chatLs__move-delete,
.chatMenuLeft .chatLs__move-edit,
.chatMenuLeft .chatLs__move-delete,
.dialog__send {
  cursor: pointer;
}

.profile_bg {
  background: #fffaf0;
  border-radius: 10px;
}

.no_decor,
.link_prevDefault,
.a_header,
.Chat-search .Chat-search__name .Chat-search__link,
.mainData .mainData__link,
.chatLs .chatLs__link,
.chatMenuLeft .chatLs__link,
.chatMenuLeft .row {
  text-decoration: none !important;
}

.a_header {
  color: black;
}

.a_header:hover {
  color: #b03535;
}

.logo:hover {
  opacity: 1;
  background: url("/img/logo/logo_hover.png");
  background-size: 100% 100%;
  transition: 1s;
}

/*INPUT*/

:root {
  --input-color: #99A3BA;
  --input-border: #6d8067;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;
}

.textarea_field {
  display: block;
  height: 350px;
  margin: 0 auto;
  resize: none;
  outline: none;
  border: 1px solid var(--input-border);
  border-radius: 10px;
  font-size: 14px;
  text-align: justify;
  background: #ecf0f1;
  color: #34495e;
  padding: 10px;
}

.input_field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  /*line-height: 25px;*/
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border 0.3s ease;
  color: black;
}

.text_mg {
  margin-top: 8px;
}

/*input*/

.icon-text {
  padding-left: 10px;
}

/* SEARCH*/

.search-marker,
.search_chat {
  border-radius: 3px;
  border: 1px solid #acb1b4;
  bottom: 10px;
  color: #acb1b4;
  content: "/";
  font-size: 13px;
  line-height: 21px;
  margin: auto 0;
  position: relative;
  right: 25px;
  text-align: center;
  top: -1px;
  padding: 1px 4px 0px 6px;
}

.search-button :hover {
  background: #645c48;
  transition: all 0.3s;
}

/* Show / hide password */

.password {
  position: relative;
}

.password .password-control {
  position: absolute;
  top: 11px;
  right: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/icons/password-show.svg") 0 0 no-repeat;
}

.password .password-control.view {
  background: url("/img/icons/password-hide.svg") 0 0 no-repeat;
}

.name_profile {
  font-size: 16px;
  font-family: initial;
  font-weight: bold;
  margin-right: 5px;
}

.profileGender {
  width: 14px !important;
}

.level {
  text-shadow: 1px 1px 0 #b95e5e;
}

.button-native {
  border: none;
  background: none;
  padding: 0;
}

.separator {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 5px solid rgba(0, 0, 0, 0.125);
  border-radius: 50px;
  margin: 5px 0px 30px 0px;
}

.couter_likes1 {
  text-align: center;
  margin-bottom: 10px;
}

/* RATING */

.rating_like {
  background: #99fb99;
  border-radius: 30%;
}

.rating_dislike {
  background: #fb9e99;
  border-radius: 30%;
}

/* END RATING*/

.lock {
  height: 20px !important;
  cursor: pointer;
}

.status_user {
  width: 10px;
}

.status_user_text {
  font-style: italic;
  font-size: 12px;
  text-align: center;
  color: #4a1c1c;
  font-weight: 400;
}

