.fix_nav
{
    position: fixed !important;
    z-index: 999;
    width: 100%;
    opacity: .98;
}

.fix_main 
{
    position: relative;
    top: 50px;
}

.c
{
    text-align:center;
}

.no_mark
{
    list-style-type: none;
}

.no_mark:last-child{margin-left:5px;}
.marker{cursor: pointer;}
.menu_user:hover
{
    background: #ae3232;
    border-radius: 4px;
    color:white;
}

.page_avatar
{
    vertical-align: top;
    border-radius: 2px;
    max-width: 200px;
    width: 200px;
    /*border-radius: 50%;*/
}

.profile_info 
{
    color: #828282;
    font-family: sans-serif;
    font-style:  italic;
}
.t_a{text-align: center;}
.profile_bg
{
    background: #fffaf0;
    border-radius: 10px;
}
