$c: center;

.fix_nav
{
    position: fixed !important;
    z-index: 999;
    width: 100%;
    opacity: .98;
}

.fix_main 
{
    position: relative;
    top: 50px;
}

.c{text-align: $c;}

.no_mark
{
    list-style-type: none;
    &:last-child{margin-left:5px;}
}

.marker{cursor: pointer;}

.menu_user:hover
{
    background: #ae3232;
    border-radius: 4px;
    color:white;
}

/*PAGE AVATAR*/
.page_avatar
{
    vertical-align: top;
    border-radius: 2px;
    max-width: 200px;
    width: 200px;
}

.page_avatar_edit
{
    vertical-align: top;
    border-radius: 2px;
    max-width: 200px;
    width: 200px;
    border: 1px dashed;

    &:hover
    {
        border: 2px dashed;
        cursor: pointer;
    }
}

/* END PAGE AVATAR*/

.mini_avatar{border-radius: 50%;}

.profile_info 
{
    color: #828282;
    font-family: sans-serif;
    font-style:  italic;
}

.t_a{text-align: $c;}

.profile_bg
{
    background: #fffaf0;
    border-radius: 10px;
}
.add_notation_who
{
    font-style: italic;
    font-size: 13px;
}
.notation_tema
{
    font-size: larger;
    margin-left: 5px;
}


.no_decor{text-decoration: none !important;}

.a_header
{
    @extend .no_decor;
    color: black;
    &:hover{color: #b03535;}
}

.logo:hover
{
    opacity: 1;
    background: url('/img/logo/logo_hover.png');
	background-size: 100% 100%;
    transition: 1s;
}


/*INPUT*/
:root 
{
    --input-color: #99A3BA;
    --input-border: #6d8067;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
}

.textarea_field
{
    display: block;
    height: 350px;
    margin: 0 auto;
    resize: none;
    outline: none;
    border: 1px solid var(--input-border);
    border-radius: 10px;
    font-size: 14px;
    text-align: justify;
    background: #ecf0f1;
    color: rgb(52, 73, 94);
    padding: 10px
}

.input_field 
{
    display: block;
    width: 100%;
    padding: 8px 16px;
    /*line-height: 25px;*/
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: var(--input-color);
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border .3s ease;
    color:black;
}

.text_mg{ margin-top:8px;}
/*input*/

.icon-text
{
    padding-left: 10px;
}

/* SEARCH*/
.search-marker
{
    border-radius: 3px;
    border: 1px solid #acb1b4;
    bottom: 10px;
    color: #acb1b4;
    content: '/';
    font-size: 13px;
    line-height: 21px;
    margin: auto 0;
    position: relative;
    right: 25px;
    text-align: $c;
    top: -1px;
    padding: 1px 4px 0px 6px;
}

.search-button :hover
{
    background: #645c48;
    transition: all 0.3s;
}
/*                             */

/* Показать/скрыть пароль */

.password 
{
    position: relative;

    .password-control 
    {
        position: absolute;
        top: 11px;
        right: 20px;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url('/img/icons/password-show.svg') 0 0 no-repeat;
    }
    .password-control.view {background: url('/img/icons/password-hide.svg') 0 0 no-repeat;}
}

/*                            */

.name_profile
{
    font-size: 16px;
    font-family: initial;
    font-weight: bold;
    margin-right: 5px;
}

.button-native
{
    border: none;
    background: none;
    padding: 0;
}

.couter_likes1
{
    text-align: $c; 
    margin-bottom: 10px;
}

/* RATING */
.rating_like
{
    background: #99fb99;
    border-radius: 30%;
}

.rating_dislike
{
    background: #fb9e99;
    border-radius: 30%;
}
/* END RATING*/

.link_prevDefault{@extend .no_decor;}

.lock
{
    height: 20px !important;
    cursor: pointer;
}