/*PAGE AVATAR*/
.page_avatar {
    vertical-align: top;
    border-radius: 15px;
    max-width: 200px;
    width: 200px;
}

.page_avatar_edit {
    vertical-align: top;
    border-radius: 2px;
    max-width: 200px;
    width: 200px;
    border: 1px dashed;

    &:hover {
        border: 2px dashed;
        cursor: pointer;
    }
}

/* END PAGE AVATAR*/

.mini_avatar { border-radius: 50%; }

.profile_info {
    color: #828282;
    font-family: sans-serif;
    font-style:  italic;
}
