.search_chat
{
    @extend .search-marker;
}

.Chat-search 
{
    display: none;

    .Chat-search__photo
    {
        @extend .mini_avatar;
        width: 50px;
    }
    
    .Chat-search__name
    {
        @extend .c_p;
    }

    .Chat-search_body
    {
        @extend .i;
        text-indent: 15px;
    }
}

.mainData-hr {
    margin: -30px auto 10px;
	padding: 0;
	height: 40px;
	border: none;
	box-shadow: 0 10px 10px -10px #333;
	width: 100%;
}

.mainData {
    .mainData__chat{
        &:hover{
            opacity: 0.9;
        }
    }
    .mainData__text{
        color: black;
        background: aliceblue;
        border-radius: 20px;

        &:hover{
            opacity: 0.9;
        }
    }
    .mainData__photo{
        @extend .mini_avatar;
        width: 50px;
        &:hover{
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
    }
    .mainData__link{
        text-decoration: none;
    }

    .mainData__name{
        color: #603737;
        font-weight: bold;
        padding-left: 3%;
    }

    .mainData__date{
        padding-top: 3px;
        text-align: right;
        color: #788888;
    }
}

.dialog__send
{
    @extend .c_p;
    width: 35px;
    border: 3px solid;
    margin-left: 5px;
    border-radius: 50%;
    vertical-align: middle;
    opacity: 0.7;

    &:hover
    {
        background: #e6dada;
        opacity: 1;
    }

}