.search_chat
{
    @extend .search-marker;
}

.Chat-search 
{
    display: none;

    .Chat-search__photo
    {
        @extend .mini_avatar;
        width: 50px;
    }
    
    .Chat-search__name
    {
        @extend .c_p;
    }

    .Chat-search_body
    {
        @extend .i;
        text-indent: 15px;
    }
}

.dialog__send
{
    @extend .c_p;
    width: 35px;
    border: 3px solid;
    margin-left: 5px;
    border-radius: 50%;
    vertical-align: middle;
    opacity: 0.7;

    &:hover
    {
        background: #e6dada;
        opacity: 1;
    }

}