.search_chat {
    @extend .search-marker;
}

.isRead {
    background: #fbe4b8;
    border: 1px solid black;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    float: right;
}

.Chat-search {
    display: none;
    .Chat-search__photo {
        @extend .mini_avatar;
        width: 50px;

        &:hover {
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
    }

    .Chat-search__name {
        @extend .c_p;

        .Chat-search__link {
            @extend .no_decor;

            color: #603737;
            font-weight: bold;
            padding-left: 3%;
        }
    }

    .Chat-search_body {
        @extend .i;

        color: black;
        background: aliceblue;
        border-radius: 20px;

        &:hover {
            opacity: 0.9;
        }
        text-indent: 15px;

    }

    .Chat-search__item {
        padding-top: 5px;
    }
}

.mainData-hr {
    margin: -20px auto 10px;
	padding: 0;
	height: 40px;
	border: none;
	box-shadow: 0 2px 2px -2px #333;
	width: 100%;
}

.mainData {
    .mainData__chat {
        &:hover {
            opacity: 0.9;
        }
    }
    .mainData__text {
        color: black;
        background: aliceblue;
        border-radius: 20px;

        &:hover {
            opacity: 0.9;
        }
    }
    .mainData__photo {
        @extend .mini_avatar;
        width: 50px;
        &:hover {
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
    }
    .mainData__link {
        @extend .no_decor;
    }

    .mainData__name {
        color: #603737;
        font-weight: bold;
        padding-left: 3%;
    }

    .mainData__date {
        padding-top: 3px;
        text-align: right;
        color: #788888;
    }
}

.chatLs {
    height: 400px;
    overflow-y: auto;
    -ms-overflow-style: none !important;
    scrollbar-width:none;

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .chatLs__chat {
        padding-top: 5px;

        &:hover {
            opacity: 0.9;
        }
    }

    .chatLs__text {
        color: black;
        background: aliceblue;
        border-radius: 20px;

        &:hover{
            opacity: 0.9;
        }
    }

    .chatLs__photo {
        @extend .mini_avatar;
        width: 50px;
        &:hover {
            -webkit-transform: scale(1.03);
            -ms-transform: scale(1.03);
            transform: scale(1.03);
        }
    }

    .chatLs__link {
        @extend .no_decor;
    }

    .chatLs__name {
        color: #603737;
        font-weight: bold;
        padding-left: 3%;
        cursor: context-menu;
    }

    .chatLs__date {
        padding-top: 3px;
        text-align: right;
        color: #788888;
        cursor: context-menu;
    }

    .chatLs__move-edit {
        display: none;
        @extend .c_p;
    }

    .chatLs__move-delete {
        @extend .chatLs__move-edit;
        margin-left: 3px;
    }
}

.currentChatSelectionInMenu {
    background: #f0dfbf;
    opacity: 100% !important;
    border: 1px dotted black;
}

.chatMenuLeft {
    background-image: linear-gradient(to bottom, #f6ebeb 0%, #f4f4f4 100%);
    border: 1px dotted;
    border-radius: 10px;
    padding: 20px;
    height: 20%;
    @extend .chatLs;

    .row {
        @extend .no_decor;
        opacity: 70%;
        border-radius: 5px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

    .row:hover {
        opacity: 70%;
        background: #fbe4b8;
    }

    .row * {
        cursor: pointer !important;
    }

    .chatLs__photo {
        width: 30px;
        text-align: center;
    }
}

.MessageBlock {
    margin-top: 3px;

    .MessageBlock__back {
        opacity: 0.7;
        padding-right: 35px !important;

        &:hover{
            opacity: 1;
        }
    }
}

.dialogClip {
    margin-top: 5px;
    opacity: 0.7;

    .dialogClip__menu {
        background: #eedec4 none repeat scroll 0% 0%;
    }

    &:hover {
       opacity: 1;
       cursor: pointer;
    }
}

.dialog__send {
    @extend .c_p;
    width: 50px;
    height: 40px;
    border: 3px solid;
    margin-left: 5px;
    border-radius: 50%;
    vertical-align: middle;
    opacity: 0.7;
    background-color: #d7d7d7 !important;

    &:hover {
        background: #d5d5d5;
        opacity: 1;
    }
}

.dialog__message {
    text-indent: 10px;
    outline: 0;
    min-height: 36px;
    width: 100%;
    resize: none;
    padding-right: 10px !important;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 6px;
    line-height: 17px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-bottom: 0;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    -webkit-transition: border-bottom-color .3s linear;
    transition: border-bottom-color .3s linear;
}

.edit_msg_stop {
    display: none;
    z-index: 10;
    position: absolute;
    width: 15px;
    padding-top: 12px;
    margin-left: 5px;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

.delete_message {
    opacity: 0.4;
}

.hide_message_btn {
    display: none !important;
}

.chatLs__move-recover {

    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.dialog__scroll-down {
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}
