$border-nav: 25px;

.add_notation_who {
    font-style: italic;
    font-size: 13px;
}
.notation_tema {
    font-size: larger;
    margin-left: 5px;
}

.notation_carousel {
    background: #000 !important;
    width: 10px !important;
}

.notation_carousel_prev {
    @extend .notation_carousel;
    border-radius: $border-nav 0px 0px $border-nav;
}

.notation_carousel_next {
    @extend .notation_carousel;
    border-radius: 0px $border-nav $border-nav 0px;
}

.notation_carousel_photo {
    border-radius: 15px;
}

.carousel-item img {
    height: 300px;
    object-fit: cover
}

/*.del_photo_notation
{
    position:absolute;
    right:20px;
    cursor:pointer;
    color:red;
    top:-5px;
    font-weight: bold;
    font-size: 15px;
}*/

.notation_photo {
    max-width: 50%;
    max-height: 150px;
    display: inline-block;
    //height: 150px;
    overflow-x: hidden;
}

.close {
    position: absolute;
    opacity: 0;
    right: 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border:1px solid #000;
    background-color:#efefef;
    z-index: 5;
    -webkit-transition: opacity 150ms;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAiElEQVR42r2RsQrDMAxEBRdl8SDcX8lQPGg1GBI6lvz/h7QyRRXV0qUULwfvwZ1tenw5PxToRPWMC52eA9+WDnlh3HFQ/xBQl86NFYJqeGflkiogrOvVlIFhqURFVho3x1moGAa3deMs+LS30CAhBN5nNxeT5hbJ1zwmji2k+aF6NENIPf/hs54f0sZFUVAMigAAAABJRU5ErkJggg==) no-repeat;
    text-align: right;
    border: 0;
    cursor: pointer;

    &:hover, &:focus {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAqklEQVR4XqWRMQ6DMAxF/1Fyilyj2SmIBUG5QcTCyJA5Z8jGhlBPgRi4TmoDraVmKFJlWYrlp/g5QfwRlwEVNWVa4WzfH9jK6kCkEkBjwxOhLghheMWMELUAqqwQ4OCbnE4LJnhr5IYdqQt4DJQjhe9u4vBBmnxHHNzRFkDGjHDo0VuTAqy2vAG4NkvXXDHxbGsIGlj3e835VFNtdugma/Jk0eXq0lP//5svi4PtO01oFfYAAAAASUVORK5CYII=");
    }
}

.content {
    position: relative;
    border: 1px solid #ccc;
    margin: 5px;
    float: left;

    &:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:rgba(0,0,0,0.6);
        opacity: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
    }

    &:hover:after {
        opacity:1;
    }
}

.popup {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

.popup_bg {
	background: rgba(0,0,0,0.4);
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 100%;
}

.popup_img {
	position:   relative;
	margin:     0 auto;
	z-index:    999;
	max-height: 94%;
	max-width:  94%;
	margin:     5% 0 0 0;
}

.nav_notation {
    clear:both;
    color:#280000;
    border:2px solid;
    border-radius:3px;
    text-align:center;
    text-decoration:none;
    cursor: pointer;
    font-family:sans-serif;
    font-size:14px;
    width:13em;
    padding:5px 10px;
    font-weight:600;
    background:rgba(0,0,0,0.2);
    box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
    opacity:0.6;

    &:hover {
        opacity:1
    }
}

.notationCommentAdd {
    height: 140px;
    margin-top: 10px !important;
    background: #f6f8fb;
    border-radius: 10px;
    margin-bottom: 3px;
}

.notationCommentAdd__title {
    color: black;
    font-weight: bold;
    padding: 3px;
    margin-left: 5%;
    font-size: 12px;
}

.notationCommentAdd__send {
    @extend .c_p;
    width: 50px;
    border: 3px solid;
    margin-left: 4%;
    border-radius: 50%;
    vertical-align: middle;
    opacity: 0.7;
    object-fit: contain;
    margin-top: 3px;
    background-color: #d7d7d7 !important;

    &:hover {
        background: #d5d5d5;
        opacity: 1;
    }
}

.notationCommentAdd_text {
    resize:none !important;
}

.commentProfilePhoto {
    border-radius: 50%;
    width: 30px;
    margin-top: 10px;
}

.countComments {
    text-align: right;
}

.profileLink {
    border: 1px solid #eaeac0;
    border-radius: 4px;
    padding: 3px;
    text-decoration: none !important;
    color: #e03232;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        color:#e03232;
    }
}

.commentText {
    text-indent: 50px;
    text-align: justify;
}
